body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:  #1c2833;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

#examplelink {
  display: none;
}

.column {
  float: left;
  width: 58%;
  padding-right: 1%;
}
.column2 {
  float: left;
  padding-left: 1%;
  border-left: 1px solid #FFFFFF;
  width: 39%;
}

@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .column2 {
    width: 100%;
    border: none;
  }

  .button {
    margin-top: 10px;
  }

  #examplelink {
    display: block;
  }  
}